/* ####### PROJECT START ####### */


/* Page Background */
.background {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:
    linear-gradient( 
      #009688,
      #009688 15vh,
      #DDDBD1 15vh,
      #D2DBDC 100%,
      #D2DBDC 100%
    );
}
#root {
    width: 1200px;
}
/* Interface Container */
.interface-container {
    width: 100%;
    min-width: 600px;
    margin: auto;
    height: 100%;
    background-color: white;
}

/* Columns Interface ClearFix */
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

/* Main Interface Layout*/
.interface-container .col-left,
.interface-container .col-right {
    float: left;
}

.interface-container .col-left {
    height: 100%;
    width: 35%;
}
.interface-container .col-right {
    width: 65%;
    border-left: 1px solid rgba(185, 185, 185, 0.623);
}

/* Contacts Column */
.user-info {
    padding: 5px;
    background-color: #eaeaea;
}

.user-info li {
    vertical-align: middle;
}

.user-info li:nth-child(2) {
    padding-right: 55%;
}
.user-info li:nth-child(4) {
    padding: 0 10px;
}
.user-info li:nth-last-child(-n+3) {
    padding-top: 1px;
}

img[alt="my-avatar"] {
    width: 40px;
    border-radius: 50%;
}

/* Turn on Notifications */
.turn-on-nots {
    display: flex;
    align-items: center;
    background-color: #8edafb;
    padding: 13px;
}
.bell-icon {
    text-align: center;
    width: 45px;
    height: 45px;
    background-color: white;
    margin-right: 10px;
    border-radius: 50%;
}
.bell-icon i {
    line-height: 45px;
}
.nots-message a {
    color: rgba(114, 114, 114, 0.829);
    text-decoration: underline;
}

/* Search Bar */
.search-bar {
    padding: 8px;
    background-color: #eaeaea;
}
.search-bar-input {
    border-style: none;
    padding: 6px 40px 6px 60px;
    width: 100%;
}

.search-bar-input:focus {
    outline: none;
}

.search-bar-container {
    position: relative;
}

.search-bar-container .fa-search {
    position: absolute;
    top: 6px;
    left: 23px;
}

/* Contacts */
.contacts {
    overflow-y: auto;
}

.contact {
    background-color: white;
    transition: background-color 0.2s;
    padding: 10px 20px;
    border-bottom: 1px solid #e7e7e7ca;
}

.contact:hover {
    background-color: rgba(224, 224, 224, 0.301)
}

.contact-info {
    position: relative;
}
.chat-anticipation {
    position: absolute;
    top: 26px;
    left: 64px;
    font-size: 15px;
    color: #535353a9;
}

.contact-info img {
    width: 50px;
    border-radius: 50%;
}

.contact-name {
    display: inline-block;
    position: relative;
    top: -30px;
    left: 10px;
}

.contacts li {
    display: block;
}


/* Chat Column */
.chat-avatar img {
    width: 40px;
    border-radius: 50%;
}

/* Chat Info */
.chat-info {
    padding: 5px;
    background-color: #eaeaea;
}

.chat-info li {
    vertical-align: middle;
}

.chat-info li:nth-child(2) {
    padding-left: 10px;
    padding-right: 60%;
}

.chat-info li:nth-child(4) {
    padding: 0 12px;
}

/* Chat Messages */
.chat-messages-section {
    height: calc( 90vh - 113px );
    background-image: url(../img/mine.jpg);
    padding: 30px 50px;
    overflow-y: auto;
}

.chat-messages {
    display: flex;
    flex-direction: column;
}

.chat-messages .sent,
.chat-messages .received {
    width: fit-content;
    word-wrap: break-word;
    padding: 10px 12px 15px 12px;
    border-radius: 10px;
    font-size: 15px;
    margin: 10px 0px;
}

.chat-messages .received {
    background-color: white;
}

.chat-messages .sent {
    align-self: flex-end;
    background-color: #d5f9ba;
}

.chat-messages .message-date {
    text-align: right;
    font-size: 10px;
    position: relative;
    top: 5px;
    color: #a8a8a8;
    user-select: none;
}

/* Chat Bar */
.chat-bar {
    text-align: center;
    background-color: #f3eee9;
    padding: 7px;
}

.chat-bar input {
    border-style: none;
    padding: 15px 40px 15px 15px;
    border-radius: 3px;
    width: 82%;
    margin: 0 20px;
}

.chat-bar input:focus {
    outline: none;
}

.chat-bar a {
    font-size: 20px;
    color: rgba(97, 97, 97, 0.877);
    vertical-align: middle;
}
.fa-reply {
    width: 13.75px;
}

