<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- DarkMode CSS -->
    <link id="darkmode" rel="stylesheet">
    <!-- Link StyleFw -->
    <link rel="stylesheet" href="css/stylefw.css">
    <!-- FontAwesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous">
    <!-- VueJS CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>Boolzapp</title>
</head>
<body>

    <div class="background">        

        <!-- Main Interface -->
        <main id="root">
            <div class="interface-container">
                <div class="clearfix">

                    <!-- Contacts Column -->
                    <div class="col-left">
                        <!-- User Header -->
                        <div class="user-header">

                            <!-- User Info -->
                            <ul class="user-info">
                                <!-- User Avatar -->
                                <li>
                                    <img src="img/avatar_io.jpg" alt="my-avatar">
                                </li>

                                <!-- Username -->
                                <li>
                                    <span>Matthew</span>
                                </li>

                                <li>
                                    <label class="switch"><input type="checkbox" @click="darkThemeOnOff()"/>
                                        <div></div>
                                    </label>
                                </li>

                                <!-- User Stories Icon-->
                                <li class="font-size-18">
                                    <a href="#" class="grey-txt"><i class="fas fa-circle-notch"></i></a>
                                </li>

                                <!-- User Chats Icon -->
                                <li class="font-size-18 grey-txt">
                                    <a href="#" class="grey-txt"><i class="fas fa-comment-alt"></i></a>
                                </li>

                                <!-- User More Icon -->
                                <li class="font-size-18 grey-txt">
                                    <a href="#" class="grey-txt"><i class="fas fa-ellipsis-v"></i></a>
                                </li>
                            </ul>
                            <!-- End User Info -->

                        </div>
                        <!-- End User Header -->

                        <!-- Turn on Notifications -->
                        <div class="turn-on-nots">
                            <div class="bell-icon">
                                <i class="fas fa-bell-slash"></i>
                            </div>
                            <div class="nots-message">
                                <span class="font-size-15">Ricevi notifiche di nuovi messaggi</span> <br>
                                <a href="#" class="font-size-12">Attiva notifiche desktop</a>
                            </div>
                        </div>
                        <!-- End Turn on Notifications -->

                        <!-- Search Bar -->
                        <div class="search-bar">
                            <div class="search-bar-container">
                                <i class="fas fa-search grey-txt"></i>
                                <input v-model="searchContact" class="search-bar-input" type="text" placeholder="Cerca o inizia una nuova chat" @keyup="filterChat">
                            </div>
                        </div>
                        <!-- End Search Bar -->

                        <!-- Contacts -->
                        <ul class="contacts">
                            <!-- Contact -->
                            <li class="contact" 
                            v-if="contact.visible == true" 
                            v-for="(contact, index) in contacts" 
                            @click="showChat(index), closeDropdown(), selectContact(index)" 
                            :class="contact.selected">
                                <!-- Contact Info -->
                                <div class="contact-info">
                                    <!-- Avatar -->
                                    <img :src="`img/avatar${contact.avatar}.jpg`" :alt="`avatar${contact.avatar}`">
                                    <!-- Name -->
                                    <span class="contact-name">
                                        {{ contact.name }}
                                    </span>
                                    <!-- Chat Anticipation -->                                    
                                    <span class="chat-anticipation">
                                        {{ getLastMessage(contact).text }}
                                    </span>
                                    <!-- Date Anticipation -->
                                    <span class="chat-date">
                                        {{ getLastMessage(contact).date }}
                                    </span>
                                </div>
                                <!-- End Contact Info -->
                            </li>
                            <!-- End Contact -->
                        </ul>
                        <!-- End Contacts -->

                    </div>
                    <!-- End Contacts Column -->
                    

                    <!-- Chat Column -->
                    <div class="col-right">
                        <!-- Chat Header -->
                        <div class="chat-header">
                        
                            <!-- Chat Info -->
                            <ul class="chat-info">
                                <!-- Chat Avatar -->
                                <li class="chat-avatar">
                                    <img :src=" `img/avatar${contacts[contactIndex].avatar}.jpg` " alt="`avatar${contacts[contactIndex].avatar}`">
                                </li>
                        
                                <!-- Chat Contact Info -->
                                <li>
                                    <div class="chat-contact-info">
                                        <div class="font-size-15">{{ contacts[contactIndex].name }}</div>
                                        <div class="grey-txt font-size-12">Ultimo accesso oggi alle {{ contacts[contactIndex].messages[contacts[contactIndex].messages.length - 1].date.substring(10, 16) }}</div>
                                    </div>
                                </li>
                        
                                <!-- Chat Search Icon-->
                                <li class="font-size-18">
                                    <a href="#" class="grey-txt"><i class="fas fa-search"></i></a>
                                </li>
                        
                                <!-- Chat Clip Icon -->
                                <li class="font-size-18 grey-txt">
                                    <a href="#" class="grey-txt"><i class="fas fa-paperclip"></i></a>
                                </li>
                        
                                <!-- Chat More Icon -->
                                <li class="font-size-18 grey-txt">
                                    <a href="#" class="grey-txt"><i class="fas fa-ellipsis-v"></i></a>
                                </li>
                            </ul>
                            <!-- End Chat Info -->

                            <!-- Chat Messages Section -->
                            <div class="chat-messages-section">
                                <div v-for="(message, index) in contacts[contactIndex].messages" class="chat-messages">
                                    <div :class="message.status" @mouseleave="closeDropdown()">
                                        <span v-if="message.shown">{{ message.text }}</span>
                                        <em class="grey-txt" v-else><i class="fas fa-ban"></i> hai eliminato questo messaggio</em>
                                        <!-- Message Dropdown -->
                                        <div class="dropdown">
                                            <!-- DropDown Icon -->
                                            <a href="#" @click="toggleDropdown(index)"><span class="message-dropdown"><i class="fas fa-chevron-down"></i></span></a>
                                            <!-- DropDown Options -->
                                            <ul class="inside-dropdown" v-show="message.userClick">
                                                <li class="delete-message-dd">
                                                    <a href="#">Info Messaggio</a>
                                                </li>
                                                <li class="delete-message-dd">
                                                    <a href="#" @click="deleteMessage(index)">Elimina Messaggio</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- End Message Dropdown -->
                                        <div class="message-date">{{ message.date }}</div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Chat Messages Section -->

                            <!-- Chat Bar -->
                            <div class="chat-bar">
                                <a href="#"><i class="far fa-smile"></i></a>
                                <input type="text" placeholder="Scrivi un messaggio" v-model="writeMessageInput" @keyup.enter="sendMessage()">
                                <a href="#" v-if="writeMessageInput == 0"><i class="fas fa-microphone"></i></a>
                                <a href="#" v-else @click="sendMessage()"><i class="fas fa-reply"></i></a>
                            </div>
                            <!-- End Chat Bar -->
                        
                        </div>
                        <!-- End Chat Header -->
                    </div>
                    <!-- End Chat Column  -->

                </div>
            </div>
        </main>
        <!-- End Main Interface -->
    </div>


    <!-- DayJS CDN -->
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <!-- JavaScript -->
    <script src="js/script.js"></script>
</body>
</html>